.insights-container {
    float: left;
    left: 0;
    width: 100vw;
    height: 60px;
    color: #ddd;
    text-align: center;
}

.insights-container div {
    position: relative;
    left: 0;
    top: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    background: rgba(0, 34, 65, 0.404);
    border: 3px double #ddd;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.insights-container div span.insights {
    position: relative;
    top: 50%;
    display: inline-block;
    transform: translateY(calc(-50% - 3px));
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px 5px 0px 5px;
    font-size: 0.8em;
    border-radius: 3px;
}

.insights-container span.insights-total {
    background-color: rgba(255, 255, 255, 0.055);
    color: #e7e7e7;
    /* border: 0.5px solid #e7e7e7; */
}

.insights-container span.insights-walls {
    background-color: rgb(252, 252, 252);
    color: #313131;
}

.insights-container span.insights-visited {
    background-color: rgb(0, 119, 255);
    color: #e7e7e7;
}

.insights-container span.insights-path {
    background-color: rgb(255, 208, 0);
    color: #313131;
}

.insights-container span.insights-time {
    background-color: rgb(0, 238, 111);
    color: #313131;
}
