.insights-container {
    float: left;
    left: 0;
    width: 100vw;
    height: 60px;
    color: #ddd;
    text-align: center;
}

.insights-container div {
    position: relative;
    left: 0;
    top: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    background: rgba(0, 34, 65, 0.404);
    border: 3px double #ddd;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.insights-container div span {
    position: relative;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid white;
}

.insights-container div span:last-child {
    border-right: none;
}
