.node {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000f2a49;
    border-radius: 2px;
    background: none;
    transition: 0.3s;
}

.node.node-unvisited {
    background: rgba(255, 255, 255, 0.274);
}

.node.node-visited {
    background-color: rgb(0, 151, 238);
}

.node.node-wall {
    background-color: rgb(24, 24, 24);
}

.node.node-source {
    background-color: rgb(238, 115, 0);
    border-radius: 10px;
    transform: scale(0.8);
}

.node.node-target {
    background-color: rgb(0, 238, 111);
    border-radius: 10px;
    transform: scale(0.8);
}

.node.node-path {
    background-color: rgb(251, 255, 0);
}

/* .node.node-target:hover, .node.node-source:hover { */
.node:hover {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.2);
    border-radius: 5px;
}
