.node {
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000f2a49;
    border-radius: 2px;
    background: none;
    transition: 0.3s;
}

.node.node-unvisited {
    background: rgba(255, 255, 255, 0.274);
}

.node.node-visited {
    background-color: rgb(0, 151, 238);
}

.node.node-wall {
    background-color: rgb(24, 24, 24);
}

.node.node-source {
    background-color: rgb(238, 115, 0);
    border-radius: 10px;
    transform: scale(0.8);
}

.node.node-source.path-to-top,
.node.node-source.path-to-right,
.node.node-source.path-to-bottom,
.node.node-source.path-to-left,
.node.node-target.path-to-top,
.node.node-target.path-to-right,
.node.node-target.path-to-bottom,
.node.node-target.path-to-left {
    border-radius: 2px;
    transform: scale(1);
}

.node.node-source.path-to-top {
    background: linear-gradient(to top, rgb(238, 115, 0), rgb(251, 255, 0));
}

.node.node-source.path-to-right {
    background: linear-gradient(to right, rgb(238, 115, 0), rgb(251, 255, 0));
}

.node.node-source.path-to-bottom {
    background: linear-gradient(to bottom, rgb(238, 115, 0), rgb(251, 255, 0));
}

.node.node-source.path-to-left {
    background: linear-gradient(to left, rgb(238, 115, 0), rgb(251, 255, 0));
}

.node.node-target.path-to-top {
    background: linear-gradient(to top, rgb(0, 238, 111), rgb(251, 255, 0));
}

.node.node-target.path-to-right {
    background: linear-gradient(to right, rgb(0, 238, 111), rgb(251, 255, 0));
}

.node.node-target.path-to-bottom {
    background: linear-gradient(to bottom, rgb(0, 238, 111), rgb(251, 255, 0));
}

.node.node-target.path-to-left {
    background: linear-gradient(to left, rgb(0, 238, 111), rgb(251, 255, 0));
}

.node.node-target {
    background-color: rgb(0, 238, 111);
    border-radius: 10px;
    transform: scale(0.8);
}

.node.node-path {
    background-color: rgb(251, 255, 0);
}

/* .node.node-target:hover, .node.node-source:hover { */
.node:hover {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.2);
    border-radius: 5px;
}
