.navbar-custom {
    height: 50px;
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0) /* rgba(30, 30, 30, 1), */
            /* rgba(30, 30, 30, 0.5)  */
    );
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-brand {
    color: rgb(0, 0, 0) !important;
    text-shadow: 1px 1px 0px #55555585 !important;
}

.navbar-brand span {
    font-size: 0.8em;
}

.btn-algorithm {
    color: #555555;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 1px solid #555555;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-algorithm span {
    color: rgb(64, 212, 150);
    font-weight: bold;
}

.btn-maze {
    color: #555555;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 1px solid #555555;
    background-color: transparent;
    transition: all 0.3s;
    font-weight: bold;
}

.btn-maze span {
    color: rgb(67, 180, 255);
}

.btn-speed {
    color: #555555;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 1px solid #555555;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-speed span {
    color: rgb(255, 136, 67);
    font-weight: bold;
}

.btn-algorithm:hover,
.btn-maze:hover,
.btn-speed:hover {
    color: rgb(236, 236, 236);
    background-color: #555555;
}

.btn-algorithm:hover span {
    color: rgb(138, 255, 206);
}

.btn-maze:hover span {
    color: rgb(130, 220, 255);
}

.btn-speed:hover span {
    color: rgb(255, 151, 92);
}

.algorithm-options-container,
.maze-options-container,
.speed-options-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    transition: all 0.3s;
    z-index: 100;
}

.algorithm-options-container.show,
.maze-options-container.show,
.speed-options-container.show {
    transform: scaleY(1);
    opacity: 1;
}

.options-container {
    position: absolute;
    width: 80vw;
    height: fit-content;
    background-color: rgb(255, 217, 0);
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-names-container {
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
}

.option-description-container {
    position: absolute;
    border-left: 1px solid #555555;
    display: inline-block;
    transform: translateY(-50%);
    color: #aaa;
    padding: 20px 50px 20px 50px;
    overflow-y: auto;
    max-height: 50vh;
}

.option-description-container b,
.option-description-container i,
.option-description-container strong,
.option-description-container a {
    margin-left: 4px;
    margin-right: 4px;
    color: yellow;
}
.option-names-container button {
    display: block;
    padding: 15px 50px 15px 15px;
    text-align: right;
    background: none;
    border: none;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 3px;
    color: #bbb;
    transition: all 0.3s;
}

.option-names-container button:hover,
.option-names-container button.active {
    letter-spacing: 10px;
    transform: skewX(-15deg);
    font-weight: 500;
}

.option-names-container button.active {
    color: rgb(0, 255, 128);
    text-shadow: 3px 1px 2px rgba(0, 255, 128, 0.2);
}

.option-names-container button:hover {
    color: white;
    text-shadow: 3px 1px 2px rgba(255, 255, 255, 0.2);
}

.collapse.navbar-collapse.show {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 1)
    );
    z-index: 101;
    transition: all 0.3s;
    padding: 10px;
}

button.navbar-toggler {
    transform: scale(0.7);
    border: none !important;
    color: #555555 !important;
}
