.navbar-custom {
    height: 50px;
    /* background: linear-gradient(
        to bottom,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
    ); */
    padding-bottom: 10px;
}

.navbar-custom .brand {
    float: left;
    margin: 0;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-custom .brand span {
    color: white !important;
    text-shadow: 0.5px 0.5px 0px white !important;
    line-height: 30px;
}

.navbar-custom .walking-options {
    float: left;
    padding: 10px 0px 0px 5px;
}

.navbar-custom .walking-options ul {
    padding: 0;
    margin: 0;
}
.navbar-custom .walking-options ul li {
    display: inline-block;
    font-size: 0.9em;
    margin-left: 5px;
}

.navbar-custom .walking-options ul li button {
    margin: 0;
}

@media only screen and (max-width: 950px) {
    .navbar-custom .walking-options {
        width: 100vw;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-custom .walking-options ul li {
        margin-left: 0;
    }
    .navbar-custom .walking-options ul li:first-child {
        float: left;
    }
    .navbar-custom .walking-options ul li:last-child {
        float: right;
    }
}

.btn-algorithm {
    color: #eeeeee;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-algorithm span {
    color: rgb(64, 212, 150);
    font-weight: bold;
}

.btn-maze {
    color: #eeeeee;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: transparent;
    transition: all 0.3s;
    font-weight: bold;
}

.btn-maze span {
    color: rgb(67, 180, 255);
}

.btn-speed {
    color: #eeeeee;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-speed span {
    color: rgb(255, 136, 67);
    font-weight: bold;
}

.btn-algorithm:hover,
.btn-maze:hover,
.btn-speed:hover,
.btn-algorithm.focused,
.btn-maze.focused,
.btn-speed.focused {
    color: #555555;
    background-color: #eeeeee;
}

.btn-algorithm.focused span,
.btn-algorithm:hover span {
    color: rgb(0, 144, 84);
}

.btn-maze:hover.focused span,
.btn-maze:hover span {
    color: rgb(0, 114, 160);
}

.btn-speed:hover.focused span,
.btn-speed:hover span {
    color: rgb(158, 58, 0);
}

.algorithm-options-container,
.maze-options-container,
.speed-options-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    transition: all 0.3s;
    z-index: 100;
}

.algorithm-options-container.show,
.maze-options-container.show,
.speed-options-container.show {
    transform: scaleY(1);
    opacity: 1;
}

.options-container {
    position: absolute;
    width: 80vw;
    height: fit-content;
    background-color: rgb(255, 217, 0);
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option-names-container {
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
}

.option-description-container {
    position: absolute;
    border-left: 1px solid #eeeeee;
    display: inline-block;
    transform: translateY(-50%);
    color: #aaa;
    padding: 20px 50px 20px 50px;
    overflow-y: auto;
    max-height: 50vh;
}

.option-description-container b,
.option-description-container i,
.option-description-container strong,
.option-description-container a {
    margin-left: 4px;
    margin-right: 4px;
    color: yellow;
}
.option-names-container button {
    display: block;
    padding: 15px 50px 15px 15px;
    text-align: right;
    background: none;
    border: none;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 3px;
    color: #bbb;
    transition: all 0.3s;
}

.option-names-container button:hover,
.option-names-container button.active {
    letter-spacing: 10px;
    transform: skewX(-15deg);
    font-weight: 500;
}

.option-names-container button.active {
    color: rgb(0, 255, 128);
    text-shadow: 3px 1px 2px rgba(0, 255, 128, 0.2);
}

.option-names-container button:hover {
    color: white;
    text-shadow: 3px 1px 2px rgba(255, 255, 255, 0.2);
}

.navbar-custom .actions-container {
    float: right;
    height: 50px;
    background: linear-gradient(
        to left,
        rgb(22, 22, 22),
        rgba(100, 100, 100, 0)
    );
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-custom .actions-container button {
    background: none;
    border: none;
    color: rgb(0, 217, 255);
    padding: 0;
    text-shadow: 0px 0px 2px #eeeeee;
    transition: all 0.3s;
    margin-right: 10px;
}

.navbar-custom .actions-container #btn-start-walking {
    color: #00ff80;
}

.navbar-custom .actions-container button i {
    font-size: 1.2em;
    line-height: 50px;
    transform: translateY(-5%);
    transition: all 0.3s;
}

.navbar-custom .actions-container #btn-start-walking i {
    font-size: 1.5em;
    transform: translateY(0%);
    transition: all 0.3s;
}

.navbar-custom .actions-container button span {
    margin-right: 5px;
    position: relative;
    top: 0;
    transform: translateY(-20%);
    color: rgb(0, 217, 255);
    font-size: 0.9em;
    display: inline-block;
    text-shadow: -1px -1px 0px rgb(0, 129, 151);
    transition: all 0.3s;
}

.navbar-custom .actions-container #btn-start-walking span {
    color: yellow;
    text-shadow: 0px 0px 2px rgb(204, 204, 0);
}
.navbar-custom .actions-container button.focused span,
.navbar-custom .actions-container button:hover span {
    letter-spacing: 2px;
    color: rgb(253, 255, 159);
}

.navbar-custom .actions-container button.focused i,
.navbar-custom .actions-container button:hover i {
    transform: translateY(-10%) rotate(360deg) !important;
    color: yellow;
}

.navbar-custom .actions-container #btn-start-walking.focused i,
.navbar-custom .actions-container #btn-start-walking:hover i {
    transform: translateY(0%) rotate(360deg) !important;
}

@media only screen and (max-width: 1300px) {
    .navbar-custom .actions-container button span {
        display: none;
    }
}

.collapsing.navbar-collapse {
    filter: blur(2px);
}
.collapsing.navbar-collapse,
.collapse.navbar-collapse.show {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)
    );
    z-index: 101;
    transition: all 0.3s;
    padding: 10px;
}

.collapse.navbar-collapse.show {
    filter: blur(0px);
}
