.copyright-container {
    float: left;
    left: 0;
    width: 100vw;
    height: 40px;
    background: linear-gradient(to top, rgb(0, 26, 34), rgba(0, 26, 34, 0));
    color: #ddd;
    text-align: center;
    overflow: hidden;
}

.copyright-container .github-links,
.copyright-container .copyright,
.copyright-container .social-links {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.copyright-container .github-links {
    float: left;
    padding-left: 10px;
}

.copyright-container .social-links {
    float: right;
    padding-right: 10px;
    transform: translateY(-110%);
}

@media only screen and (max-width: 800px) {
    .copyright-container .copyright {
        float: left;
        padding-left: 10px;
    }
    .copyright-container .social-links {
        float: right;
        padding-right: 10px;
        transform: translateY(-50%);
    }
}

.copyright-container .copyright a,
.copyright-container .copyright a:hover {
    text-decoration: none;
    font-weight: bold;
    color: yellow;
    transition: all 0.3s;
}

.copyright-container .copyright .fa-heart {
    color: rgb(238, 0, 71);
    animation-name: anim-heart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.copyright-container .copyright a:hover {
    letter-spacing: 2px;
}

.copyright-container .github-links a,
.copyright-container .social-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: all 0.3s;
}

.copyright-container .github-links a:hover,
.copyright-container .social-links a:hover {
    text-decoration: none;
    font-size: 1.7em;
    color: yellow;
}

.copyright-container .social-links a {
    margin-left: 10px;
}

@keyframes anim-heart {
    0%,
    100% {
        text-shadow: 0px 0px 5px rgb(238, 0, 71);
        transform: scale(1.2);
    }
    50% {
        color: rgba(238, 0, 71, 0.397);
        text-shadow: none;
        transform: scale(1);
    }
}
