.legend-container {
    float: left;
    width: 100vw;
    height: 40px;
    background: none;
}

.legend-container ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.legend-container ul li {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.legend-container ul li > div {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.legend-container ul li > div > span {
    color: #eee;
    font-size: 0.8em;
}
